<html class="page">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - Start with Bitcoin</title>
  {% include tag_manager.html %}
  {% include styles.html %}
  <header>
    <div class="container narrow">
      <a href="/">{% include logo-btc.svg %}</a>
      <h1>{{ page.title }}</h1>
      <p>{{ page.intro }}</p>
    </div>
  </header>
  <main>
    <section>
      <div class="container narrow content">
        {{ page.content }}
      </div>
    </section>
  </main>
  {% include footer.html %}
</html>