<html class="page-home">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Start with Bitcoin</title>
  {% include tag_manager.html %}
  {% include styles.html %}
  <header class="bg">
    <div class="container narrow">
      {% include logo-btc.svg %}
      <strong>Start with Bitcoin</strong>
      <h1>A Guide for Beginners</h1>
      <p>If you’re new to Bitcoin, and curious to learn more, you’ve come to the right place. In eight simple lessons, you’ll learn all the basics.</p>
    </div>
  </header>
  <main>
    <section class="bg">
      <div class="container">
        {% include reasons.html %}
      </div>
    </section>
  </main>
  {% include footer.html %}
</html>