<html class="page-home">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bitcoin Resources</title>
  {% include tag_manager.html %}
  {% include styles.html %}
  <header class="bg">
    <div class="container narrow">
      {% include logo-btc.svg %}
      <strong>Start with Bitcoin</strong>
      <h1>Bitcoin Resources</h1>
      <p>Once you know the basics, use these resources for everything else.</p>
    </div>
  </header>
  <main>
    <section class="bg">
      <div class="container">
        {% include resources.html %}
      </div>
    </section>
  </main>
  {% include footer-resources.html %}
</html>